.container{
    width: 1800px;
}
.books > a{
    height: 30px;
    width: 150px;
    font-size: 18px;
    text-align: justify;
}
.action__bar > a {
    height: 30px;
    width: 80px;
    font-size: 16px;
    text-align: center;
}
.newBook__btn > span{
    display: flex;
    flex-direction: row !important;
}

.newBook__btn > button{
        width: 100px;
    height: 42px;
}
.newBook__btn > a > button {

    width: 100px;


}
.books > table, th, td, tr {

    text-align: center;

}
.edit__btn> button{
    width: 100px;
    height: 42px;
}
