<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Homepage</title>

</head>
<body>
<nav class="navbar navbar-dark bg-dark">

    <a class="navbar-brand" href="/">Library Management System</a>
    <a class="navbar-brand" align="center" href="#">Sign-In</a>

</nav>

<div class="container" align="center">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/books">Books</a>
        <a class="navbar-brand" href="#">Authors</a>
        <a class="navbar-brand" href="#">Category</a>
        <a class="navbar-brand" href="#">User</a>
    </nav>

    <h1 style="text-align: center">What kind of books you want to search on eConception Library</h1>




    <form class="search__form " action="/" method="post">


            <input  class="form-control" type="text" placeholder="Search" aria-label="Search">

        <button type="button" class="btn btn-outline-success">Search</button>
    </form>




</div>
</body>
</html>
